



<section class="hero">
    <div class="hero-content">
        <h1>Empower Your Workforce With TEAM WORK</h1>
        <p>Simplify and streamline your HR processes with our comprehensive employee management solution. Our
            cloud-based platform empowers your HR team and employees, saving time and boosting productivity.</p>
        <button routerLink="/about">Learn More</button>
    </div>
</section>


<section class="testimonials">
    <h2>Customer Success Stories:</h2>
    <div class="testimonial-container">
        <div class="testimonial">
            <h3>"This platform has transformed the way I manage my team. It gives me the tools I need to streamline
                onboarding, track employee performance, provide timely feedback, and recognize achievements. As a
                result, I've seen a significant improvement in employee engagement, productivity, and overall team
                morale."
                "</h3>
            <p>- CEO, Small Tech Startup</p>
        </div>
        <div class="testimonial">
            <h3>"Our HR team has become significantly more efficient since using this platform. It saves us countless
                hours and allows us to focus on strategic initiatives."</h3>
            <p>- HR Manager, Large Manufacturing Company</p>
        </div>

    </div>
</section>