body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.hero-section {
    background: linear-gradient(to right, rgb(85, 85, 85),rgb(85, 85, 85), #343a40, #007bff);
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.features-section {
    background-color: #fff;
    padding: 100px 0;
}

.testimonial {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    margin: 30px 0;
}

.testimonial p {
    font-size: 18px;
    line-height: 1.6;
}

.about-section {
    padding: 100px 0;
}

.security-section {
    background-color: #007bff;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 30px;
}