.modal-header {
    background-color: #007bff;
    color: #fff;
    border-bottom: none;
}

.modal-body {
    padding: 20px;
}

/* Style for the roles list */
.list-group {
    margin-top: 10px;
}

.list-group-item {
    background-color: #f8f9fa;
    border: none;
}