
  :host {
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/img/צילום\ מסך\ 2024-04-07\ 045522.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }